
/* About section */
#about{
    min-height: 586px;
    display: flex;
    color: white;
    
  }
   #about .box-1,.box-2{
    width: 50%;
  } 
  
  
  #about .box-1 img,.box-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  
  
  #about .box-1,.box-2{
    position: relative;
  }
  
  
  #about .box-1::before{
    background: url(/public/images/img/about-1.jpg);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background-size: cover;
    background-position: top center;
}
.overlay-2{
      opacity: 0.2;
  }
  
  #about .box-2::before{
    background: url(/public/images/img/Sample-Portrait-1.jpg);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
  }
  
  .overlay-3{
    opacity: 0.85;
  }
  .box-2 > *{ 
   /* this is used to pull out text on top layer*/
    position: relative;
  }
  
  .about-details h1{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 1.9;
    letter-spacing: 1;
  }
  .about-details .para{
    margin: 20px 40px;
    
  }
  #barsGif{
    width: 40px;
    margin-left: 30px;
  }
  #skillsPara{
    text-align: left;
    margin:auto;
    max-width: 90%;
  
  }
  .about-details h1{
    text-align: center;
  }
  .about-details h3,p{
    margin: 20px 0;
    text-align: center;
  }
  .about-details p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    font-size: 20px;
  }
  .about-details a{
    text-decoration: none;
  
  }
  
  .btn{
    color: white;
    margin: 15px auto;
    width: 90%;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
  }
  .btn-1{
    background: #ef6c15;
  }
  .btn-1:hover{
    background: #ce6000;
  }
  .btn-2{
    background: #2b71af;
  }
  
  .btn-1 p,.btn-2 p{
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin: auto;
  }
  .btn-1 img,.btn-2 img{
    width: 20px;
    filter: invert(100%);
  
    position: relative;
  }
  .btn-2:hover{
    background: #2988aa;
  }
  .overlay{

    position: absolute;
  }
  #hiGif{
    width: 30px;
  }

  .btn{
    display: flex;
    flex-direction: row;
  }